html
    scroll-behavior: smooth
body
    font-family: "Noto Sans TC"
    &::-webkit-scrollbar 
        display: none


main 
    padding-top: 100px
    .title 
        h2
            text-align: center