html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/bg-04.jpg");
  background-size: 100%;
}

input, button {
  border: 0;
  padding: 0;
}

input:focus, button:focus {
  outline: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

.navbar {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 90px;
  background-image: url("../img/menuBg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1680px) {
  .navbar {
    height: 80px;
  }
}

@media (max-width: 1536px) {
  .navbar {
    height: 60px;
  }
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar nav ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  position: relative;
}

.navbar nav ul li img {
  width: 100%;
}

.navbar nav ul li:hover::after {
  content: "";
  background-image: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  height: 6px;
  position: absolute;
  top: 67px;
  right: -3px;
}

#banner {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .banner_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 30px 0 30px rgba(0, 0, 0, 0.3), -30px 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 30px 0 30px rgba(0, 0, 0, 0.3), -30px 0 30px rgba(0, 0, 0, 0.3);
}

#banner .banner_img img {
  width: 100%;
}

#banner .logo {
  position: absolute;
  top: 27%;
  right: 30%;
  width: 8%;
}

#banner .banner_container {
  position: absolute;
  top: 41%;
  right: 38%;
}

@media (max-width: 1680px) {
  #banner .banner_container {
    top: 39%;
    right: 37%;
  }
}

@media (max-width: 1536px) {
  #banner .banner_container {
    top: 35%;
    right: 36.4%;
  }
}

#banner .banner_container .banner_content {
  position: relative;
  width: 187px;
  height: 406px;
  font-family: DFKai-sb;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 3px;
}

@media (max-width: 1680px) {
  #banner .banner_container .banner_content {
    font-size: 20px;
  }
}

@media (max-width: 1536px) {
  #banner .banner_container .banner_content {
    font-size: 18px;
  }
}

#banner .banner_container .banner_content span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

#banner .banner_container .banner_content span:nth-child(1) {
  padding: 90px 0 0 0;
}

@media (max-width: 1536px) {
  #banner .banner_container .banner_content span:nth-child(1) {
    padding: 59px 0 0 0;
  }
}

#banner .banner_container .banner_content span:nth-child(2) {
  padding: 0 15px;
}

@media (max-width: 1536px) {
  #banner .banner_container .banner_content span:nth-child(2) {
    padding: 0 10px;
  }
}

#banner .banner_container .banner_content span:nth-child(3) {
  padding: 0 0 44px 0;
}

@media (max-width: 1536px) {
  #banner .banner_container .banner_content span:nth-child(3) {
    padding: 0 0 32px 0;
  }
}

#banner .banner_container .banner_content::before {
  content: "";
  width: 144px;
  height: 394px;
  border: solid #f7931e 1px;
  position: absolute;
  top: 22px;
  right: 12px;
}

@media (max-width: 1680px) {
  #banner .banner_container .banner_content::before {
    width: 125px;
    height: 340px;
    top: 50px;
    right: 22px;
  }
}

@media (max-width: 1536px) {
  #banner .banner_container .banner_content::before {
    width: 113px;
    height: 314px;
    top: 57px;
    right: 29px;
  }
}

#banner .banner_container .banner_content::after {
  content: "";
  width: 144px;
  height: 394px;
  border: solid #f7931e 1px;
  position: absolute;
  top: 6px;
  right: 27px;
}

@media (max-width: 1680px) {
  #banner .banner_container .banner_content::after {
    width: 125px;
    height: 340px;
    top: 35px;
    right: 35px;
  }
}

@media (max-width: 1536px) {
  #banner .banner_container .banner_content::after {
    width: 113px;
    height: 314px;
    top: 40px;
    right: 43px;
  }
}

#news {
  width: 100%;
  height: 80vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news .news_container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

#news .news_container .news_title {
  font-family: DFKai-sb;
  font-size: 32px;
  padding: 50px;
}

#news .news_container .news_title h2 {
  position: relative;
}

#news .news_container .news_title h2::before {
  content: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 18px;
}

#news .news_container .news_cards {
  padding: 40px;
  font-family: "Noto Sans TC";
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#news .news_container .news_cards .news_card {
  margin: 20px;
  max-width: 240px;
  position: relative;
}

#news .news_container .news_cards .news_card:hover::before {
  width: 240px;
  height: 390px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
}

#news .news_container .news_cards .news_card:hover::after {
  width: 240px;
  height: 390px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  top: 0;
  right: 0;
}

#news .news_container .news_cards .news_card:hover .news_poster img {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

#news .news_container .news_cards .news_card:hover .news_content .news_content_right button {
  border: solid 1px #f7931e;
}

#news .news_container .news_cards .news_card::before {
  content: "";
  width: 262px;
  height: 416px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -2px;
  right: -22px;
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#news .news_container .news_cards .news_card::after {
  content: "";
  width: 262px;
  height: 416px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -21px;
  right: -3px;
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#news .news_container .news_cards .news_card .news_poster {
  width: 100%;
  z-index: 1;
}

#news .news_container .news_cards .news_card .news_poster img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#news .news_container .news_cards .news_card .news_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 5px;
}

#news .news_container .news_cards .news_card .news_content .news_content_left {
  width: 60%;
}

#news .news_container .news_cards .news_card .news_content .news_content_left .news_content_title {
  padding: 4px 0;
  font-size: 16px;
}

#news .news_container .news_cards .news_card .news_content .news_content_left .news_date {
  font-size: 13px;
  padding: 4px 0;
}

#news .news_container .news_cards .news_card .news_content .news_content_left .news_txt {
  font-size: 13px;
  margin: 4px 0;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 20px;
  overflow: hidden;
  font-weight: 100;
}

#news .news_container .news_cards .news_card .news_content .news_content_right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 10px 0;
}

#news .news_container .news_cards .news_card .news_content .news_content_right .news_readMore {
  color: #fff;
  font-family: "Noto Sans TC";
  font-size: 13px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: 40px;
  border: solid 1px #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#introduction {
  width: 100%;
  padding: 10vh 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#introduction .introduction_float_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 7%;
}

#introduction .introduction_float_right img {
  width: 100%;
}

#introduction .introduction_float_left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7%;
  z-index: 10;
}

#introduction .introduction_float_left img {
  width: 100%;
}

#introduction .introduction_container {
  width: 100%;
  overflow: hidden;
}

#introduction .introduction_container .area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

#introduction .introduction_container .area .introduction_img {
  width: 50%;
}

#introduction .introduction_container .area .introduction_img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#introduction .introduction_container .area .introduction_content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC";
}

#introduction .introduction_container .area .introduction_content:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#introduction .introduction_container .area .introduction_content .introduction_content_title {
  font-size: 30px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-bottom: 115px;
  position: relative;
  text-align: center;
}

#introduction .introduction_container .area .introduction_content .introduction_content_title::before {
  content: "";
  width: 65px;
  height: 167px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -17px;
  right: -26px;
}

#introduction .introduction_container .area .introduction_content .introduction_content_title::after {
  content: "";
  width: 65px;
  height: 167px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -31px;
  right: -15px;
}

#introduction .introduction_container .area .introduction_content .introduction_content_txt {
  width: 480px;
  padding: 0 40px;
}

#introduction .introduction_container .area .introduction_content .introduction_content_txt h3 {
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 3px;
}

#introduction .introduction_container .introduction_top img {
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

#introduction .introduction_container .introduction_btm img {
  -webkit-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
}

#meun {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Noto Sans TC";
  color: #fff;
}

#meun .meun_container {
  width: 80%;
  height: 80%;
}

#meun .meun_container .meun_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#meun .meun_container .meun_border .topLeft {
  width: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#meun .meun_container .meun_border .topRight {
  width: 150px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#meun .meun_container .meun_border .btmLeft {
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#meun .meun_container .meun_border .btmRight {
  width: 150px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#meun .meun_container .meun_border .meun_title {
  text-align: center;
  font-family: DFKai-sb;
  font-size: 32px;
  margin: 30px 0 70px 0;
  position: relative;
}

#meun .meun_container .meun_border .meun_title h2::before {
  content: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 18px;
}

#meun .meun_container .meun_border ul {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#meun .meun_container .meun_border ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#meun .meun_container .meun_border ul li .meun_list {
  width: 74%;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  margin: 0 0 20px 0;
}

#meun .meun_container .meun_border ul li .meun_list .meun_list_img img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#meun .meun_container .meun_border ul li .meun_list .meun_list_txt {
  padding: 20px 0 25px;
}

#meun .meun_container .meun_border ul li .meun_list .meun_list_txt span {
  position: relative;
}

#meun .meun_container .meun_border ul li .meun_list:hover .meun_list_img img {
  opacity: 0.8;
}

#meun .meun_container .meun_border ul li .meun_list:hover .meun_list_txt span::after {
  content: url("../img/meun-Btm-line.svg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 21px;
  left: 0;
}

#philosophy {
  width: 100%;
  padding: 20vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

#philosophy .philosophy_container {
  width: 65%;
}

#philosophy .philosophy_container .area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#philosophy .philosophy_container .area .philosophy_img {
  width: 45%;
}

#philosophy .philosophy_container .area .philosophy_img img {
  width: 100%;
}

#philosophy .philosophy_container .area .philosophy_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC";
  color: #fff;
}

#philosophy .philosophy_container .area .philosophy_content .philosophy_content_title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 30px;
  position: relative;
  margin: 0 35px 0 78px;
}

#philosophy .philosophy_container .area .philosophy_content .philosophy_content_title::before {
  content: "";
  width: 60px;
  height: 160px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -11px;
  right: -22px;
}

#philosophy .philosophy_container .area .philosophy_content .philosophy_content_title::after {
  content: "";
  width: 60px;
  height: 160px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -24px;
  right: -12px;
}

#philosophy .philosophy_container .area .philosophy_content .philosophy_content_txt {
  width: 65%;
  font-size: 20px;
  font-weight: 100;
  padding: 0 30px;
  line-height: 24px;
  letter-spacing: 3px;
}

#stronghold {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#stronghold .stronghold_container {
  width: 70%;
  padding: 30px;
  -webkit-box-shadow: 0 0 90px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 90px rgba(0, 0, 0, 0.8);
}

#stronghold .stronghold_container .stronghold_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 46px 0;
}

#stronghold .stronghold_container .stronghold_top .stronghold_title {
  width: 235px;
}

#stronghold .stronghold_container .stronghold_top .stronghold_title img {
  width: 100%;
}

#stronghold .stronghold_container .stronghold_btm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_img {
  width: 100%;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_img img {
  width: 100%;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 10px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content .stroe_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content .stroe_address span:nth-child(1) {
  margin-right: 10px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content .business_hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  line-height: 1.5;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content .business_hours span:nth-child(1) {
  margin-right: 10px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content .contact_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_information .stronghold_information_content .contact_number span:nth-child(1) {
  margin-right: 10px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 65px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: DFKai-sb;
  margin: 0 60px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_name h2 {
  position: relative;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_name h2::before {
  content: "";
  width: 83px;
  height: 356px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -12px;
  right: -19px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_name h2::after {
  content: "";
  width: 83px;
  height: 356px;
  border: solid #f7931e 1px;
  position: absolute;
  top: -24px;
  right: -6px;
}

#stronghold .stronghold_container .stronghold_btm .stronghold_map {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: wheat;
}

[data-aos="box-shadow"] {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

[data-aos="box-shadow"].aos-animate {
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=style.css.map */