input,button {
    border: 0;

    &:focus{
        outline: 0;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../img/banner_01.jpg");
    background-size: cover;
    position: relative;

    .logo {
        position: absolute;
        top: 300px;
        right: 648px;
        width: 165px;
        height: 345px;
        
    }

    .banner_container {
        position: absolute;
        top: 425px;
        right: 805px;

        .banner_content {
            position: relative;
            width: 187px;
            height: 406px;
            font-family: DFKai-sb;
            font-size: 24px;
            display: flex;
            color: #fff;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            span {
                writing-mode: vertical-rl;
            }
            
            span:nth-child(1) {
                padding: 90px 0 0 0;
            }
    
            span:nth-child(2) {
                padding: 0 15px;
            }

            span:nth-child(3) {
                padding: 0 0 44px 0;
            }
    
            &::before {
                content: "";
                width: 170px;
                height: 406px;
                border: solid rgb(247, 147, 30) 1px;
                position: absolute;
                top: 22px;
                right: -5px;
            }

            &::after {
                content: "";
                width: 170px;
                height: 406px;
                border: solid rgb(247, 147, 30) 1px;
                position: absolute;
                top: 2px;
                right: 13px;
            }
        }
    }
    
}

.introduction {
    width: 100%;
    background-image: url("../img/bg-01.jpg");
    background-size: cover;
    display: flex;
    align-items: center;

    .introduction_float_right {
        position: absolute;
    }

    .introduction_float_left {
        position: absolute;
    }

    .introduction_area {
        width: 100%;
        
        .introduction_container {
            width: 100%;
            display: flex;
            color: #fff;
            
            .introduction_img {
                width: 50%;

                img {
                    width: 100%;
                } 
            }

            .introduction_content {
                width: 50%;
                display: flex;
                align-items: center;
                font-family: "Noto Sans TC" ;

                &:nth-child(1) {
                    justify-content: flex-end;
                }

                .introduction_content_title {
                    width: 76px;
                    height: 180px;
                    font-size: 30px;
                    writing-mode: vertical-rl;
                    margin-bottom: 190px;
                    position: relative;

                    &::before {
                        content: "";
                        width: 76px;
                        height: 215px;
                        border: solid rgb(247, 147, 30) 1px;
                        position: absolute;
                        top: -12px;
                        right: -19px;
                    }
        
                    &::after {
                        content: "";
                        width: 76px;
                        height: 215px;
                        border: solid rgb(247, 147, 30) 1px;
                        position: absolute;
                        top: -24px;
                        right: -6px;
                    }
                }

                .introduction_content_txt {
                    width: 480px;
                    padding: 0 40px;

                    h3 {
                        font-size: 20px;
                        font-weight: 200;
                        line-height: 24px;
                        letter-spacing: 3px;
                    }
                    
                }

            }

        }

    }
}

.meun {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg-02.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans TC";
    color: #fff;

    .meun_title {
        text-align:center;
        font-size: 45px;
        margin: 30px 0 70px 0;
    }

    .meun_list_container {
        width: 1280px;
        display: flex;
        

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
                display: flex;
                justify-content: center;

                .meun_list {
                    font-size: 30px;
                    text-align:center;
                    margin: 0 0 20px 0;

                    .meun_list_img img{
                        box-shadow: 10px 10px 10px rgba(0 ,0 ,0 ,0.5);
                    }

                    .meun_list_txt {
                        padding: 20px 0 25px;
                    }
                }
                
            }
        }
    } 
}