<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">

</head>

<body>
  <div id="app">
    <div class="container">
      <div id="search">
        <input type="text" v-model="search">
      </div>
      <div id="carouselArea">
        <button id="prev" @click="prev()"></button>
        <div class="banner" v-for="(item, index) in carousel.bannerList" v-show="carousel.nowBanner === index">
          <img :src="item" alt="">
        </div>
        <button id="next" @click="next()"></button>
      </div>
      <div id="goodsArea">
        <div class="goods" v-for="goods in goodsList" @click="openPopup(goods)">
          <img :src="goods.img" alt="">
          <span>{{goods.name}}</span>
        </div>
      </div>
      <div id="popupGoods" v-show="popupGoods.toggle" @click="closePopup()">
        <div class="goods">
          <img :src="popupGoods.img" alt="">
          <span>{{popupGoods.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./data.js"></script>
  <script src="./main.js"></script>
</body>

</html>