* {
    box-sizing: border-box;
}
button{
    border: 0;
    background-color: unset;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*通用class*/

.bg {
    background-position: center;
    background-size: cover;
}

.flex_O {
    display: flex;
    flex: 1;
}

.flex_I {
    display: flex;
    flex: 1;
}

.small_header {
    margin-top: 37px;
    line-height: 24px;
    padding: 1px 12px 2px 0;
}

.small_text {
    padding: 2px 12px 0 0;
}

.img_1779 {
    display: block;
    width: 100%;
}

.img_1084 {
    display: none;
    width: 100%;
}

.img_768 {
    display: none;
    width: 100%;
}

.img_540 {
    display: none;
    width: 100%;
}

.img_0 {
    display: none;
    width: 100%;
}


/******/

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}
a :hover{
    text-decoration: unset;
}

.all {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.NavArea {
    padding: 0 5%;
    margin: 0 0 1px;
}

#NavArea_position {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    height: 54px;
    width: 100%;
    display: flex;
}

.icon {
    float: left;
    width: 137px;
    height: 100%;
    margin: 1px 0 0 0;
    padding: 16px 6px 16px 10px;
    
}

a:focus{
    outline: black dashed 1px;
    
}

a:focus::after{
    content: "";
    border-bottom:2px solid black;
    position: absolute;
    bottom: 9px;
    left: 6px;
}
.office:focus::after{
    width: 36px;
}

.windows:focus::after{
    width: 55px;
}

.surface:focus::after{
    width: 44px;
}

.xbox:focus::after{
    width: 32px;
}

.support:focus::after{
    width: 29px;
}


.icon>img {
    margin-top: -3px;
    max-width: none;
    width: 108px;
}

button:focus{
    outline: black dashed 1px;   
}

button:focus::after{
    content: "";
    border-bottom:2px solid black;
    position: absolute;
    bottom: 15px;
    left: 16px;
}

.product_btn {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    padding: 0 1px;
    margin-right:auto ;
    /* box-flex: 1; */
}

.product_btn>ul {
    padding: 0;
    list-style: none;
}

.product_btn>ul>li {
    display: inline-block;
}

.product_btn>ul>li>a {
    border: 1px solid transparent;
    color: #262626;
    display: inline-block;
    margin-top: 1px;
    padding: 16px 8px 10px;
    height: 48px;
    font-size: 13px;
    position: relative;
}

.product_btn>ul>li>a:hover::after{
    content: "";
    border-bottom:2px solid black;
    position: absolute;
    bottom: 9px;
    left: 6px;
}

.office:hover::after{
    width: 36px;
}

.windows:hover::after{
    width: 55px;
}

.surface:hover::after{
    width: 44px;
}

.xbox:hover::after{
    width: 32px;
}

.support:hover::after{
    width: 29px;
}


.nav_bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nav_bar>a>.icon {
    display: none;
}
.all_microsoft {
    padding: 13px 23px 19px 15px;
    /* width: calc(100% - 34px); */
    border: 1px solid transparent;
    margin: 1px 9px 0 0;
    background: #fff;
    position: relative;
}

.nav_bar button:hover::after{
    content: "";
    border-bottom:2px solid black;
    position: absolute;
    
}

.all_microsoft:hover::after{
    bottom: 15px;
    left: 15px;
    width: 84px;
}

.search_btn:hover::after{
    bottom: 12px;
    left: 8px;
    width: 28px;
}

.shopping_cart:hover::after{
    bottom: 17px;
    left: 6px;
    width: 42px;
}

.login_btn:hover::after{
    bottom: 16px;
    left: 6px;
    width: 27px;
}


.all_microsoft_items{
    display: none;
}

/* .all_microsoft:hover .all_microsoft_items{
    display: block;
    position: absolute;
    top:45px;
    z-index: 5;
    margin: auto;
} */

.all_microsoft>span {
    text-align: left;
    display: inline-block;
    font-size: 13px;
}

.all_microsoft>span::after {
    content: url("../img/Icon/down-arrow.svg");
    position: relative;
    left: 5px;
}


.all_microsoft>div {
    position: absolute;
    font-size: 12px;
    right: 28px;
    bottom: 15px;
}

/**********toggle***************/
/* .all_microsoft_items>ul{
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    width: 1230px;
    justify-content: space-between;
}
.nav_left{
    display: none;
}
.nav_right{
    padding: 10px;
    display: inline-block;
}
.nav_right>ul{
    padding: 5px 0 5px ;
}
.nav_right>ul>li{
    padding: 5px 0 10px;
} */

/**********toggle***************/

.nav_btn{
    display: none;
    margin: 1px;
    padding: 6px 0 8px;
}
/* *************hover********** */
/* .nav_btn:hover~.nav_bar .all_microsoft .all_microsoft_items{
    display: block;
    position: absolute;
    z-index: 5;
    top: 54px;
    left: 0;
} */

/* .nav_btn:hover~.nav_bar .all_microsoft .all_microsoft_items .nav_left{
    display: block;
    padding: 10%;
}
.nav_btn:hover~.nav_bar .all_microsoft .all_microsoft_items ul{
    width: 100%;
    flex-direction: column;
}
.nav_btn:hover~.nav_bar .all_microsoft .all_microsoft_items .nav_right ul{
    display: none;
} */


/* *************hover********** */
.search_btn {
    position: relative;
    display: flex;
    padding: 13px 9px 15px;
    margin: 0 5px 1px 1px;
}

.shopping_cart {
    position: relative;
    display: flex;
    margin: 1px 10px 0 7px;
    padding: 2px 0 5px;
}

.login_btn {
    position: relative;
    display: flex;
    display: flex;
}

.search_btn_txt {
    font-size: 13px;
    margin: 0 4px 0 0;
}
.shopping_cart_txt {
    font-size: 13px;
    width: 54px;
    height: 46px;
    line-height: 46px;
    margin: 0 3px 0 9px;
}

.login_btn_txt {
    line-height: 46px;
    font-size: 13px;
    padding: 1px 12px 1px 1px ;
}

.nav_btn_icon {
    width: 20px;
    height: 20px;
    margin: 7px 0 0;
    background-image: url("../img/Icon/menu.svg");
}

.search_btn_icon {
    width: 16px;
    height: 16px;
    margin: 0 0 0 2px;
    background-image: url("../img/Icon/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.shopping_cart_icon {
    width: 16px;
    height: 42px;
    margin: 2px 3px 0 0;
    /* 這裡圖片一定要加引號!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    background-image: url("../img/Icon/shopping.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login_btn_icon {
    width: 32px;
    height: 32px;
    background-image: url("../img/Icon/Login.svg");
    margin: 10px 3px 8px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*main*/

.MainArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_Area {
    max-width: calc(1600px + 10%);
    margin: auto;
    padding: 0 5%;
    
}
#carousel_Area_position {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #e6e6e6;
}
#carousel_img>img {
    content: "";
    position: relative;
    width: 100%;
    opacity: .95;
    /* opacity: ; */
}

#carousel_L {
    position: absolute;
    bottom: 0;
    max-width: 520px;
    height: 300px;
    width: 100%;
    min-width: 50%;
    z-index: 3;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.carousel_style {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_style>h2 {
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px;
    font-weight: 600;
    letter-spacing: -.01em;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 112px;
}

#carousel_text {
    margin: 12px 0 0 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: content-box;
    max-height: 80px;
    padding: 0;
}

#carousel_btn {
    margin: 12px 0 0 0;
    padding: 12px 2px 0 0;
}

#carousel_btn>#left {
    padding: 10px 20px 6px 18px;
    color: #fff;
    background: #000;
    font-size: 15px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
    margin-right: 54px;
}

#carousel_btn>#left>span {
    padding: 0 17px 3px 7px;
}

#carousel_btn>#right>span {
    padding: 0 17px 8px 7px;
}

#carousel_btn>#right {
    color: #000;
    font-size: 15px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
    margin-right: 42px;
}

#carousel_btn>a {
    position: relative;
}

#carousel_btn>a>span {
    max-width: 100%;
    display: inline-block;
    position: relative;
    left: 0;
    text-overflow: clip;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    vertical-align: top;
    line-height: 18.5px;
}

#carousel_btn>#left>span::after {
    content: url("../img/Icon/next-white.png");
    position: absolute;
    top: 1px;
    right: 2px;
    transition: all 200ms ease-in-out;
}

#carousel_btn>#left:hover>span {
    padding: 0 20px 3px 4px; 
}

#carousel_btn>#left:hover>span::after {
    right: -1px;
}

#carousel_btn>#left:hover>span::before {
    content: "";
    position: absolute;
    border-bottom: 2px white solid;
    width: 121px;
    bottom: 0;
    left: 3px;
}

#carousel_btn>#right>span::after {
    content: url("../img/Icon/next-black.png");
    position: absolute;
    top: 1px;
    right: 2px;
    transition: all 200ms ease-in-out;
}

#carousel_btn>#right:hover>span::after {
    right: -1px;
}

#carousel_btn>#right:hover>span::before {
    content: "";
    position: absolute;
    border-bottom: 2px black solid;
    width: 89px;
    bottom: 4px;
    left: 7px;
}

/*product Area*/

.product_Area {
    max-width: calc(1600px + 10%);
    padding: 0 5%;
    display: flex;
}

#product_Area_position {
    margin: 0 -12px;
}

.product_position {
    padding: 0 12px;
    width: 50%;
    flex: 1;
}
.product_position:hover {
    opacity: 0.9;
}

.product_style {
    margin-top: 48px;
    position: relative;
}

.product_style>span {
    padding: 10px 40px 7px 0;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    margin-left: 0;
    color: #0067b8;
    background: transparent;
    transition: none;
    white-space: normal;
    text-align: left;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;

}

.product_style>span::after {
    content: url("../img/Icon/next-blue.png");
    position: absolute;
    bottom: 4px;
    right: 20px;
    transition: 0.3s;    
}

.product_style>span:hover::after {
    right: 15px; 
}
.product_style>span:hover::before {
    content: "";
    position: absolute;
    top: 30px;
    width: 61px;
    border-bottom: solid 2px #0067b8;
}

/*Xbox Area*/

.xbox_Area {
    max-width: calc(1600px + 10%);
    margin: auto;
    padding: 0 5%;
    /* position: relative; */
}

#xbox_Area_position {
    display: flex;

    justify-content: center;
    position: relative;
    background-color: #e6e6e6;
    margin: 48px 0 0 0;
}

#xbox_L {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 88%;
    height: 300px;
    max-width: 2048px;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;

}

.xbox_style {
    transform: translateY(-50%);
}

.xbox_style>h2 {
    font-size: 46px;
    line-height: 56px;
    padding: 37px 0 3px;
    font-weight: 600;
    letter-spacing: -.01em;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 112px;
    font-weight: 600;
    opacity: .95;
}

#xbox_text {
    margin: 12px 0 0 0;
}

#xbox_btn {
    margin: 12px 0 0 0;
    padding: 12px 2px 0 0;
}

#xbox_btn>a {
    color: #fff;
    background: #000;
    font-size: 15px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
}



#xbox_btn>a>span {
    padding: 10px 30px 6px 22px;
    max-width: 100%;
    display: inline-block;
    position: relative;
    left: 0;
    text-overflow: clip;
    overflow: hidden;
    vertical-align: top;
    line-height: 18.5px;
}

#xbox_btn>a>span::after {
    content: url("../img/Icon/next-white.png");
    position: absolute;
    top: 11px;
    right: 11px;
    transition: all 200ms ease-in-out;
}

#xbox_btn>a:hover>span {
    padding: 10px 35px 6px 17px;
}

#xbox_btn>a:hover>span::after {
    right: 5px;
}

#xbox_btn>a:hover>span::before {
    content: "";
    position: absolute;
    border-bottom: 2px white solid;
    width: 61px;
    bottom: 0;
    left: 16px;
}

/*workspace Area*/

.workplace_Area {
    max-width: calc(1600px + 10%);
    padding: 0 5%;
}

#wp_header {
    padding: 48px 0 0 0;
}

#wp_position {
    margin: -48px -12px 0 -12px;
    padding: 16px 0 0 0;
}

.wp_place_position {
    padding: 0 12px;
    width: 50%;
    flex: 1;
}

.wp_place_position:hover{
    opacity: 0.9;
}

.place_style {
    flex: 1;
    margin-top: 48px;
    position: relative;
}

.place_style>span {
    padding: 10px 40px 7px 0;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    margin-left: 0;
    color: #0067b8;
    background: transparent;
    transition: none;
    white-space: normal;
    text-align: left;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
}

.place_style>span::after {
    content: url("../img/Icon/next-blue.png");
    position: absolute;
    right: 20px;
    bottom: 4px;
    transition: 0.3s;    
}

.place_style>span:hover::after {
    right: 15px;
}
.place_style>span:hover::before {
    content: "";
    position: absolute;
    top: 30px;
    width: 61px;
    border-bottom: solid 2px #0067b8;
}

.follow_Area {
    max-width: calc(1600px + 10%);
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

#follow_position {
    margin-top: 48px;
    display: flex;
}

#follow_position>ul {
    display: flex;
}

#follow_position>ul>li {
    list-style: none;
    border: 2px solid transparent;
    outline: 0;
    position: relative;
    width: 32px;
    height: 32px;
    transition: scale .2s ease-in-out;
}

.footerArea {
    margin-top: 48px;
    width: 100%;
    background-color: rgb(242, 242, 242);
    padding: 0 5%;
}

.footer_nav {
    margin: auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
}
.footer_nav ul {
    color: rgba(0,0,0,0.7);
    padding: 36px 0 4px;
    flex: 1;
}
.footer_nav ul li {
    font-size: 12px;
    padding: 8px;
}

.footer_nav ul>span {
    
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
}

.footer_nav div {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer_nav ul li:hover {
    text-decoration: underline;
}

.footer_nav ul li:hover span {
    text-decoration: none;
}

@media (max-width: 1399px) {
    .img_1779 {
        display: none;
    }

    .img_1084 {
        display: block;
    }

    .nav_btn_txt {
        display: none;
    }

    .search_btn:hover::after {
        display: none;
    }
    
    .shopping_cart:hover::after {
        display: none;
    }
    
    .login_btn:hover::after {
        display: none;
    }

    .carousel_style>h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 36px 0 4px;
        font-weight: 600;
        max-height: 56px;
    }

    .xbox_style>h2 {
        font-size: 24px;
        line-height: 28px;
        padding: 36px 0 4px;
        font-weight: 600;
        max-height: 56px;
    }
}

/* @media (max-width: 1229px){
    .all_microsoft_items>ul{
        width: 1025px;
    }
}
@media (max-width: 1024px){
    .all_microsoft_items>ul{
        width: 820px;
    }
} */

@media (max-width: 1083px) {
    .img_1084 {
        display: none;
    }
    .img_768 {
        display: block;
    }
    .padding {
        padding: 0;
    }
    .flex_O {
        flex-direction: column;
    }
    .NavArea {
        padding: 0;
    }
    #NavArea_position {
        padding: 0 24px;
    }
    
    .carousel_Area {
        padding: 0;
    }
    .product_Area {
        padding: 0 calc(5% - 12px);
    }
    .xbox_Area {
        padding: 0;
    }
    .workplace_Area {
        padding: 0 calc(5% - 12px);
    }
    .carousel_style {
        bottom: 48px;
    }
    .footer_nav {
        flex-wrap: wrap;
    }
    .footer_nav div {
        width: 100%;
        display: flex;
    }

}
@media (max-width: 859px) {
    #NavArea_position {
        padding: 0;
    }
    .product_btn {
        display: none;
    }
    #NavArea_position>a>.icon {
        display: none;
    }
    .nav_bar {
        width: 100%;
        margin-left: unset;
    }
    .nav_btn {
        display: block;
    }

    .search_btn {
        margin-right: auto;
    }

    .all_microsoft {
        display: none;
    }
    .all_microsoft {
        padding: 0;
        border: 0;
        margin: 0;
    }
    .nav_bar>a>.icon {
        margin: auto;
        display: block;
    }

    .shopping_cart {
        margin-left: auto;
    }

    .login_btn_icon {
        margin: 10px 9px 8px 0;
    }

    .shopping_cart_icon {
        margin: 2px 16px 0 0;
    }

    .nav_btn {
        padding: 6px 14px 8px;
    }

    .search_btn {
        padding: 13px 24px 15px 9px;
    }

}
@media(max-width: 767px) {
    .img_768 {
        display: none;
    }
    .img_540 {
        display: block;
        width: 100%;
    }
    #carousel_Area_position {
        display: block;
    }
    #carousel_L {
        position: unset;
        bottom: unset;
    }
    #xbox_Area_position {
        display: block;
    }
    #xbox_L {
        position: unset;
        bottom: unset;
        justify-content: center;
        align-items: flex-end;
    }
}
@media(max-width: 539px) {
    .flex_I {
        flex-direction: column;
    }
    .product_position {
        width: 100%;
    }
    .wp_place_position {
        width: 100%;
    }
    .footer_nav div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
}



/* 
CSS Entities  
https://www.w3schools.com/cssref/css_entities.asp
*/