h1 {
  font-size: 65px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

span {
  font-size: 14px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

a {
  color: unset;
}

a:hover {
  color: unset;
  text-decoration: none;
}

[data-aos="box-shadow"] {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 20px;
}

[data-aos="box-shadow"].aos-animate {
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/bg-04.jpg");
  background-size: 100%;
}

body #navBar nav {
  position: relative;
  background-image: url("../img/menuBg.jpg");
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #navBar nav .hamburger {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

@media (max-width: 960px) {
  body #navBar nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5px;
    height: 50px;
  }
  body #navBar nav .hamburger .line {
    width: 40px;
    height: 2px;
    border-radius: 1em;
    background-color: #f7931e;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  body #navBar nav .hamburger #hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  body #navBar nav .hamburger #hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
  }
  body #navBar nav .hamburger #hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
  }
}

body #navBar nav .nav_top li {
  font-family: DFKai-sb;
  color: #ffffff;
  padding: 0 16px;
}

body #navBar nav .nav_top li a h4 {
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #navBar nav .nav_top li a h4:hover {
  color: #f7931e;
}

body #navBar nav .nav_top li a svg {
  width: 20px;
  margin-bottom: .5rem;
  fill: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #navBar nav .nav_top li a svg:hover {
  fill: #f7931e;
}

body #navBar nav #hamburger.is-active ~ .nav_side .list {
  left: 0;
}

body #navBar nav .nav_side .list {
  position: fixed;
  top: 19%;
  left: -25%;
  padding: 10px 30px 10px 3%;
  background-image: url("../img/menuBg.jpg");
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  z-index: 1;
}

@media (max-width: 1199px) {
  body #navBar nav .nav_side .list {
    padding: 10px 30px 10px 5%;
  }
}

@media (max-width: 960px) {
  body #navBar nav .nav_side .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    top: 50px;
    left: -100%;
    padding: 10px 30px 10px 30px;
  }
  body #navBar nav .nav_side .list li {
    width: 150px;
    margin: 10px;
  }
}

body #navBar nav .nav_side .list:hover {
  left: -5px;
}

body #navBar nav .nav_side .list li {
  margin: 25px 20px;
}

body #navBar nav .nav_side .list li h4 {
  position: relative;
  font-family: DFKai-sb;
  color: #ffffff;
}

body #navBar nav .nav_side .list li h4:hover::after {
  content: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  left: 0;
  position: absolute;
  top: 10px;
}

body #navBar nav .nav_side .icon_hamburger {
  position: fixed;
  top: -50%;
  left: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 3%;
  z-index: 5;
}

@media (max-width: 1199px) {
  body #navBar nav .nav_side .icon_hamburger {
    width: 5%;
  }
}

@media (max-width: 960px) {
  body #navBar nav .nav_side .icon_hamburger {
    display: none;
  }
}

body #navBar nav .nav_side .icon_hamburger.is-active {
  top: 25%;
}

body #navBar nav .nav_side .icon_hamburger:hover ~ ul {
  top: 19%;
  left: -5px;
}

body #navBar nav .nav_side .icon_hamburger img {
  width: 100%;
}

body #banner {
  position: relative;
  font-family: DFKai-sb;
  zoom: 1;
}

body #banner .banner_img {
  -webkit-box-shadow: 30px 0 30px rgba(0, 0, 0, 0.3), -30px 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 30px 0 30px rgba(0, 0, 0, 0.3), -30px 0 30px rgba(0, 0, 0, 0.3);
}

body #banner .banner_img img {
  width: 100%;
}

body #banner .logo {
  position: absolute;
  top: 27%;
  right: 541px;
  width: 8%;
}

@media (max-width: 1365px) {
  body #banner .logo {
    top: 461px;
    right: 775px;
    width: 11%;
  }
}

body #banner .logo img {
  width: 100%;
}

body #banner .banner_container {
  position: absolute;
  top: 400px;
  right: 745px;
}

@media (max-width: 1365px) {
  body #banner .banner_container {
    display: none;
  }
}

body #banner .banner_container .banner_content {
  color: #ffffff;
  padding: 20px;
  position: relative;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
}

body #banner .banner_container .banner_content::before {
  position: absolute;
  content: "";
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: solid #f7931e 1px;
  bottom: 0;
  right: 0;
}

body #banner .banner_container .banner_content::after {
  position: absolute;
  content: "";
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: solid #f7931e 1px;
  top: 0;
  left: 0;
}

body #banner .banner_container .banner_content h4 {
  margin: 0;
}

body #banner .banner_container .banner_content h4:nth-child(1) {
  text-align: left;
}

body #banner .banner_container .banner_content h4:nth-child(2) {
  padding: 0 10px 32px 10px;
}

body #banner .banner_container .banner_content h4:nth-child(3) {
  text-align: right;
  padding: 95px 0 0 0;
}

body #news {
  padding: 128px 0;
}

@media (max-width: 768px) {
  body #news {
    padding: 32px 0;
  }
}

body #news .container-fluid .news_title {
  padding: 0 0 128px;
}

@media (max-width: 768px) {
  body #news .container-fluid .news_title {
    padding: 0 0 32px;
  }
}

body #news .container-fluid .news_title h2 {
  position: relative;
  color: #ffffff;
  font-family: DFKai-sb;
}

body #news .container-fluid .news_title h2::before {
  content: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 16px;
}

body #news .container-fluid .news_swiper {
  padding: 64px 32px;
}

body #news .container-fluid .news_swiper .news_card {
  position: relative;
  width: 250px;
  color: #ffffff;
  font-family: "Noto Sans TC";
}

body #news .container-fluid .news_swiper .news_card::before {
  position: absolute;
  content: "";
  width: calc( 100% + 16px);
  height: calc( 100% + 16px);
  border: solid #f7931e 1px;
  bottom: 0;
  right: 0;
}

body #news .container-fluid .news_swiper .news_card::after {
  position: absolute;
  content: "";
  width: calc( 100% + 16px);
  height: calc( 100% + 16px);
  border: solid #f7931e 1px;
  top: 0;
  left: 0;
}

body #news .container-fluid .news_swiper .news_card::before {
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #news .container-fluid .news_swiper .news_card::after {
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #news .container-fluid .news_swiper .news_card:hover::before {
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

body #news .container-fluid .news_swiper .news_card:hover::after {
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

body #news .container-fluid .news_swiper .news_card:hover .news_content .news_readMore {
  border: solid #f7931e 1px;
}

body #news .container-fluid .news_swiper .news_card .news_poster img {
  width: 100%;
}

body #news .container-fluid .news_swiper .news_card .news_content {
  padding: 16px 0;
}

body #news .container-fluid .news_swiper .news_card .news_content h5 {
  font-weight: 300;
  padding: 0 8px 0;
}

body #news .container-fluid .news_swiper .news_card .news_content .news_txt {
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 21px;
  overflow: hidden;
  font-size: 14px;
  padding: 7px 7px 0;
  font-weight: 100;
}

body #news .container-fluid .news_swiper .news_card .news_content .news_readMore {
  border: solid #ffffff 1px;
  background-color: unset;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #news .container-fluid .news_swiper .news_card .news_content .news_readMore h5 {
  padding: 8px 8px 0;
}

body #news .container-fluid .news_swiper .swiper-button-next, body #news .container-fluid .news_swiper .swiper-button-prev {
  width: 64px;
}

body #news .container-fluid .news_swiper .swiper-button-next::after, body #news .container-fluid .news_swiper .swiper-button-prev::after {
  content: "";
}

body #news .container-fluid .news_swiper .swiper-button-next img, body #news .container-fluid .news_swiper .swiper-button-prev img {
  width: 100%;
}

body #introduction {
  position: relative;
}

body #introduction .introduction_float_right {
  width: 96px;
  position: absolute;
  top: 64px;
  right: 0;
}

body #introduction .introduction_float_right img {
  width: 100%;
}

@media (max-width: 1199px) {
  body #introduction .introduction_float_right {
    display: none;
  }
}

body #introduction .introduction_float_left {
  width: 96px;
  position: absolute;
  bottom: 64px;
  left: 0;
}

body #introduction .introduction_float_left img {
  width: 100%;
}

@media (max-width: 1199px) {
  body #introduction .introduction_float_left {
    display: none;
  }
}

body #introduction .container-fluid {
  padding: 256px 0;
  overflow: hidden;
  color: #ffffff;
}

@media (max-width: 768px) {
  body #introduction .container-fluid {
    padding: 64px 0;
  }
}

@media (max-width: 768px) {
  body #introduction .container-fluid .row .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

body #introduction .container-fluid .row .col-6 img {
  width: 100%;
}

body #introduction .container-fluid .row .introduction_content_txt {
  font-family: "Noto Sans TC";
}

@media (max-width: 768px) {
  body #introduction .container-fluid .row .introduction_content_txt {
    max-width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 64px 32px 64px 0 !important;
  }
}

@media (max-width: 570px) {
  body #introduction .container-fluid .row .introduction_content_txt {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 64px 0 !important;
  }
}

body #introduction .container-fluid .row .introduction_content_txt h4 {
  letter-spacing: 3px;
  font-weight: 300;
}

@media (max-width: 1365px) {
  body #introduction .container-fluid .row .introduction_content_txt h4 {
    font-weight: 100;
  }
}

body #introduction .container-fluid .row .introduction_content_title {
  margin-bottom: 160px;
}

@media (max-width: 1199px) {
  body #introduction .container-fluid .row .introduction_content_title {
    margin-bottom: 96px;
  }
}

@media (max-width: 768px) {
  body #introduction .container-fluid .row .introduction_content_title {
    max-width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 570px) {
  body #introduction .container-fluid .row .introduction_content_title {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

body #introduction .container-fluid .row .introduction_content_title h2 {
  position: relative;
  padding: 16px 8px;
  display: table;
  line-height: 32px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  white-space: nowrap;
}

body #introduction .container-fluid .row .introduction_content_title h2::before {
  position: absolute;
  content: "";
  width: calc( 100% + 8px);
  height: calc( 100% + 8px);
  border: solid #f7931e 1px;
  bottom: 0;
  right: 0;
}

body #introduction .container-fluid .row .introduction_content_title h2::after {
  position: absolute;
  content: "";
  width: calc( 100% + 8px);
  height: calc( 100% + 8px);
  border: solid #f7931e 1px;
  top: 0;
  left: 0;
}

@media (max-width: 570px) {
  body #introduction .container-fluid .row .introduction_content_title h2 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

body #introduction .container-fluid .row:nth-child(1) .introduction_content_txt {
  padding: 0 32px 0 96px;
}

@media (max-width: 1536px) {
  body #introduction .container-fluid .row:nth-child(1) .introduction_content_txt {
    padding: 0 32px 0 32px;
  }
}

body #introduction .container-fluid .row:nth-child(2) .introduction_content_txt {
  padding: 0 96px 0 32px;
}

@media (max-width: 1536px) {
  body #introduction .container-fluid .row:nth-child(2) .introduction_content_txt {
    padding: 0 32px 0 32px;
  }
}

body #meun {
  font-family: "Noto Sans TC";
  color: #ffffff;
  padding: 64px 0;
}

body #meun img {
  width: 100%;
}

body #meun .container .meun_border {
  width: 100%;
  position: relative;
  padding: 64px 0 0;
}

body #meun .container .meun_border .topLeft,
body #meun .container .meun_border .topRight,
body #meun .container .meun_border .btmLeft,
body #meun .container .meun_border .btmRight {
  width: 96px;
  position: absolute;
}

@media (max-width: 768px) {
  body #meun .container .meun_border .topLeft,
  body #meun .container .meun_border .topRight,
  body #meun .container .meun_border .btmLeft,
  body #meun .container .meun_border .btmRight {
    width: 64px;
  }
}

body #meun .container .meun_border .topLeft {
  top: 32px;
  left: 32px;
}

body #meun .container .meun_border .topRight {
  top: 32px;
  right: 32px;
}

body #meun .container .meun_border .btmLeft {
  bottom: 32px;
  left: 32px;
}

body #meun .container .meun_border .btmRight {
  bottom: 32px;
  right: 32px;
}

body #meun .container .meun_border h2 {
  position: relative;
  color: #ffffff;
  font-family: DFKai-sb;
}

body #meun .container .meun_border h2::before {
  content: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 16px;
}

body #meun .container .meun_border .meun_lists {
  padding-top: 64px;
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .meun_list {
  width: 128px;
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .meun_list .meun_list_img img {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .meun_list .meun_list_txt h4 {
  text-align: center;
  font-weight: 200;
  padding-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .meun_list:hover .meun_list_img img {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .meun_list:hover .meun_list_txt h4 {
  color: #f7931e;
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .swiper-button-next,
body #meun .container .meun_border .meun_lists .meun_list_swiper .swiper-button-prev {
  top: 30%;
  width: 16px;
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .swiper-button-next::after,
body #meun .container .meun_border .meun_lists .meun_list_swiper .swiper-button-prev::after {
  content: "";
}

body #meun .container .meun_border .meun_lists .meun_list_swiper .swiper-button-next img,
body #meun .container .meun_border .meun_lists .meun_list_swiper .swiper-button-prev img {
  width: 100%;
}

body #meun .container .meun_border .meun_items {
  padding: 64px 0 128px;
}

@media (max-width: 768px) {
  body #meun .container .meun_border .meun_items {
    padding: 128px 0 256px;
  }
}

body #meun .container .meun_border .meun_items .col-10 {
  border: 1px #f7931e solid;
  padding: 5px 0;
}

body #meun .container .meun_border .meun_items .col-10 .swiper-wrapper .swiper-slide .meun_item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body #meun .container .meun_border .meun_items .col-10 .swiper-wrapper .swiper-slide .meun_item .meun_item_txt {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url("../img/bg-05.jpg");
}

body #meun .container .meun_border .meun_items .col-10 .swiper-wrapper .swiper-slide .meun_item .meun_item_txt h4 {
  text-align: center;
  font-weight: 200;
  padding: 10px 0;
  color: #000000;
  margin: 0;
}

body #meun .container .meun_border .meun_items .col-10 .swiper-wrapper .swiper-slide .swiper-slide-shadow-left,
body #meun .container .meun_border .meun_items .col-10 .swiper-wrapper .swiper-slide .swiper-slide-shadow-right {
  border-radius: 10px;
}

body #meun .container .meun_border .meun_items .col-10 .swiper-button-next,
body #meun .container .meun_border .meun_items .col-10 .swiper-button-prev {
  width: 21.33333px;
}

body #meun .container .meun_border .meun_items .col-10 .swiper-button-next::after,
body #meun .container .meun_border .meun_items .col-10 .swiper-button-prev::after {
  content: "";
}

body #meun .container .meun_border .meun_items .col-10 .swiper-button-next img,
body #meun .container .meun_border .meun_items .col-10 .swiper-button-prev img {
  width: 100%;
}

body #philosophy {
  position: relative;
  padding: 128px 0;
}

body #philosophy img {
  width: 100%;
}

body #philosophy .philosophy_float_top {
  position: absolute;
  top: 64px;
  right: 0;
  width: 96px;
}

@media (max-width: 1199px) {
  body #philosophy .philosophy_float_top {
    display: none;
  }
}

body #philosophy .philosophy_float_mid {
  position: absolute;
  top: calc( 50% - 32px);
  left: 0;
  width: 64px;
}

@media (max-width: 1199px) {
  body #philosophy .philosophy_float_mid {
    display: none;
  }
}

body #philosophy .philosophy_float_btm {
  position: absolute;
  bottom: 64px;
  right: 0;
  width: 224px;
}

@media (max-width: 1199px) {
  body #philosophy .philosophy_float_btm {
    display: none;
  }
}

body #philosophy .container {
  overflow: hidden;
}

@media (max-width: 768px) {
  body #philosophy .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  body #philosophy .container .row .col-6 {
    padding: 0;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

body #philosophy .container .row .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media (max-width: 768px) {
  body #philosophy .container .row .col-1 {
    max-width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body #philosophy .container .row .col-1 h2 {
  position: relative;
  padding: 16px 8px;
  color: #ffffff;
}

body #philosophy .container .row .col-1 h2::before {
  position: absolute;
  content: "";
  width: calc( 100% + 8px);
  height: calc( 100% + 8px);
  border: solid #f7931e 1px;
  bottom: 0;
  right: 0;
}

body #philosophy .container .row .col-1 h2::after {
  position: absolute;
  content: "";
  width: calc( 100% + 8px);
  height: calc( 100% + 8px);
  border: solid #f7931e 1px;
  top: 0;
  left: 0;
}

body #philosophy .container .row .col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body #philosophy .container .row .col-5 {
    max-width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 64px 32px 64px 0 !important;
  }
}

body #philosophy .container .row .col-5 h4 {
  font-family: "Noto Sans TC";
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 3px;
}

body #stronghold {
  padding: 128px 0;
}

body #stronghold img {
  width: 100%;
}

@media (max-width: 768px) {
  body #stronghold {
    padding: 64px 0;
  }
}

body #stronghold .container {
  padding: 64px 15px;
}

body #stronghold .container .stronghold_title {
  padding-bottom: 64px;
}

@media (max-width: 1199px) {
  body #stronghold .container .stronghold_title {
    padding-bottom: 32px;
  }
}

body #stronghold .container .stronghold_title h2 {
  position: relative;
  color: #ffffff;
  font-family: DFKai-sb;
}

body #stronghold .container .stronghold_title h2::before {
  content: url("../img/Btm-line.svg");
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 16px;
}

body #stronghold .container .stronghold_btm .stronghold_information {
  color: #ffffff;
  font-family: "Noto Sans TC";
}

@media (max-width: 1199px) {
  body #stronghold .container .stronghold_btm .stronghold_information {
    padding: 16px 0;
  }
}

body #stronghold .container .stronghold_btm .stronghold_information .stronghold_information_content {
  width: 100%;
}

body #stronghold .container .stronghold_btm .stronghold_information .stronghold_information_content .business_hours {
  width: 100%;
}

body #stronghold .container .stronghold_btm .stronghold_information .stronghold_information_content span {
  padding: 7px 7px;
  font-weight: 300;
  letter-spacing: 2px;
}

body #stronghold .container .stronghold_btm .stronghold_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  body #stronghold .container .stronghold_btm .stronghold_name {
    padding: 16px 0;
  }
}

body #stronghold .container .stronghold_btm .stronghold_name div h1 {
  position: relative;
  padding: 16.25px 16.25px;
  color: #ffffff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: DFKai-sb;
  white-space: nowrap;
  display: table;
}

body #stronghold .container .stronghold_btm .stronghold_name div h1::before {
  position: absolute;
  content: "";
  width: calc( 100% + 16.25px);
  height: calc( 100% + 16.25px);
  border: solid #f7931e 1px;
  bottom: 0;
  right: 0;
}

body #stronghold .container .stronghold_btm .stronghold_name div h1::after {
  position: absolute;
  content: "";
  width: calc( 100% + 16.25px);
  height: calc( 100% + 16.25px);
  border: solid #f7931e 1px;
  top: 0;
  left: 0;
}

@media (max-width: 1199px) {
  body #stronghold .container .stronghold_btm .stronghold_name div h1 {
    font-size: 50px;
    position: relative;
    padding: 12.5px 12.5px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin: 25px;
  }
  body #stronghold .container .stronghold_btm .stronghold_name div h1::before {
    position: absolute;
    content: "";
    width: calc( 100% + 12.5px);
    height: calc( 100% + 12.5px);
    border: solid #f7931e 1px;
    bottom: 0;
    right: 0;
  }
  body #stronghold .container .stronghold_btm .stronghold_name div h1::after {
    position: absolute;
    content: "";
    width: calc( 100% + 12.5px);
    height: calc( 100% + 12.5px);
    border: solid #f7931e 1px;
    top: 0;
    left: 0;
  }
}

body #stronghold .container .stronghold_btm .stronghold_map {
  height: 512px;
}

@media (max-width: 1199px) {
  body #stronghold .container .stronghold_btm .stronghold_map {
    padding: 16px 0;
    height: 384px;
  }
}

body #stronghold .container .stronghold_btm .stronghold_map .stronghold_map_content {
  height: 100%;
}
/*# sourceMappingURL=main-v1.css.map */